/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: #009788;
  --secondary-color: #0a655e;
  --light-color: #f5f8f7;
  --dark-color: #283637;
  --light-gray: #bac9c9;
  --dark-gray: #6d7f7f;
  /* --white-color: #ffffff;
  --black-color: #000000; */

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px #2836374d;

  /* typography size */
  --ty-size-h1: 2.125rem; /* 34px */
  --ty-size-h2: 1.6rem; /* 25.6px */
  --ty-size-h3: 1.25rem; /* 20px */
  --ty-size-p: 1rem; /* 16px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

body.dark {
  background-color: var(--secondary-color);
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
  font-weight: 500;
}

/* MAIN STYLE */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-7);
}

.calculator {
  background-color: var(--light-color);
  height: 500px;
  min-width: 300px;
  width: clamp(300px, 20%, 301px);
  border-radius: 12px;
  box-shadow: var(--shadow);
}

body.dark .calculator {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Header style */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: var(--spacing-4);
  padding-top: var(--spacing-4);
}

.title {
  font-size: 18px;
  font-weight: 400;
}

.icon {
  cursor: pointer;
}

.icon ion-icon {
  font-size: 24px;
  font-weight: 700;
}

/* Input container styles */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-3) var(--spacing-6);
  position: relative;
}

.progress {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: var(--spacing-1);
  color: var(--light-gray);
  position: absolute;
  bottom: 45px;
}

.progress::selection {
  background-color: var(--primary-color);
  color: var(--light-color);
}

body.dark .progress {
  color: var(--dark-gray);
}

.user-input {
  background-color: var(--light-color);
  height: 40px;
  font-size: 35px;
  font-weight: 300;
}

.user-input::selection {
  background-color: var(--primary-color);
  color: var(--light-color);
}

body.dark .user-input {
  background-color: var(--dark-color);
}

/* Numpad Container */
.numpad-container {
  display: flex;
  margin: var(--spacing-5);
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.numpad-container .input {
  cursor: pointer;
  font-size: 25px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.operator,
.equals,
.percent {
  color: var(--primary-color);
}

.eraser {
  padding-bottom: var(--spacing-1);
}

body.dark .operator,
body.dark .equals,
body.dark .percent {
  background-color: var(--light-color);
}

.period {
  padding-bottom: var(--spacing-2);
}

.numpad-container .input:active {
  transform: scale(0.9);
}

/* Hover effect */
.numpad-container .input:hover {
  background-color: var(--dark-gray);
  color: var(--light-color);
  transition: var(--trans-3s);
}

body.dark .numpad-container .input:hover {
  background-color: var(--light-gray);
  transition: var(--trans-3s);
}

/* Media queries - From Desktop to Mobile */
/* Largest devices (1600px and down) */
@media only screen and (max-width: 100rem) {
}

/* Exxtra Large devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
}
